// layout helpers
.u-vcenter {
  display: flex;
  align-items: center;
  height: 100%;
}


// sweet sticky footer via flexbox
// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
@supports (flex-wrap: wrap) {
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .main {
    flex: 1;
  }
  .footer {
    order: 1;
  }
}


// row
.u-row,
.nav-main {
  width: 85%;
  max-width: 52rem;
  margin: 0 auto;
  @extend %clearfix;

  @include bp(m1) {
    width: 85%;
  }
  @include bp(m3) {
    width: 75.75%; // for pixel perfectness
  }
}

.main,
.header {

  .u-row {
    padding-top: 3rem;
    padding-bottom: 3.5rem;
  }
  @include bp(m1) {
    .u-row {
      padding-top: 4rem;
      padding-bottom: 4.5rem;
    }
  }
  @include bp(m2) {
    .u-row {
      padding-top: 5rem;
      padding-bottom: 5.5rem;
    }
  }
}

// columns
@include bp(m3) {

  .u-columns {
    margin: 0 auto;
  }

  .u-12col { width: 100%; }
  .u-10col { width: $col-10; }
  .u-9col  { width: $col-9;  }
  .u-8col  { width: $col-8;  }
  .u-6col  { width: $col-6;  }
  .u-4col  { width: $col-4;  }

  // content
  .u-content {
    width: $col-8;
    float: left;

    &--right {
      width: $col-8;
      float: right;
    }
  }

  // sidebar
  .u-sidebar {
    width: $col-4;
    float: right;
    overflow: visible;

    ul {
      width: 20rem;
    }

    &--left {
      width: $col-4;
      float: left;
    }
  }
}
