// Center positioned elements
@mixin absolute-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
@mixin horizontal-center {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

// Clearfix
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.clearfix {
  @include clearfix;
}

// Hide text
@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: none;
}
.hide-text {
  @include hide-text;
}

// Psuedo elements
@mixin pseudo {
  content: "";
  display: block;
}

// Anchor link destination vertical offset
@mixin anchor-offset($height) {
  &:before {
    @include pseudo;
    margin-top: -$height;
    height: $height;
    visibility: hidden;
  }
}

// No wiggle
@mixin no-wiggle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

// Auto-ellipsis
@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// fill up all of the space
@mixin cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// screen reader text
@mixin screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.u-screenreader {
  @include screen-reader-text;
}
.u-screenreader--ignore {
  speak: none;
}

// browsersync notification
#__bs_notify__ {
  opacity: 0.4;
  @include horizontal-center;
  pointer-events: none;
}
